*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body {
    background-color: rgb(198, 248, 255);
}

h1 {
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
}

h2 {
    text-align: left;
}

#burgerIcon {
    margin: 50px auto 50px auto;
    height: 300px;
    width: auto;
}

.btn-group {
    margin-left: 30px;
}

.remainingBurgers {
    padding-left: 5px;
}

.devouredBurgers {
    padding-left: 15px;
}

#addBurger{
    margin-top: 70px;;
}


