*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body {
    background-color: rgb(198, 248, 255);
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

#burgerIcon {
    margin: 10px auto 10px auto;
    height: 300px;
    width: auto;
}


